body {
  margin: auto;
}

ul {
  margin-top: 20px;
}

li {
  background: rgb(255, 0, 0);
  float: left;
  font: 20px Georgia;
  list-style: none;
  margin: 10px 0;
  padding: 10px 0;
  text-align: center;
  width: 57px;
}

.item01 {
  background: rgb(255, 0, 0);
}
