body {
  margin: 0;
  background: #eee;
}
.iframe-wrapper {
  margin: 100px auto 0;
  width: 1024px;
  overflow: hidden;
}

.iframe {
  width: 490px;
  float: left;
  height: 365px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  background: #fff;
}

.broken {
  margin: 0 34px 5px 5px;
}

.working {
  margin: 0 5px 5px 0;
}

.title {
  font: 22px sans-serif;
  float: left;
  width: 510px;
  text-align: center;
  text-shadow: 1px 1px 1px #fff;
  font-weight: bold;
  color: #222;
}

.ie .iframe {
  border: 1px solid #ccc;
}

.ie .broken {
  margin: 0 34px 5px 3px;
}

.ie .working {
  margin: 0 3px 5px 0;
}
